@use 'src/styles/vars.scss';

.gamedetail {
  max-width: 800px;
  width: 88%;
  margin: auto auto 5rem;
  &-content {
    &-top {
      width: 88%;
      margin: auto;
      border-radius: 8px;
      box-shadow: 1px 2px 3px 0.5px rgba(23, 0, 66, 0.336);
      position: relative;
      background-color: vars.$white;
      display: flex;
      flex-direction: row;
      &-left {
        &-img {
          border-radius: 10px;
          margin: 0.3rem;
          width: 80px;
        }
      }
      &-right {
        color: vars.$primaryColorDark;
        margin: auto;
        text-align: left;
      }
    }

    &-bottom {
      &-trophylist {
        &-button {
          border: none;
          padding: 0;
          margin: 0;
          background: none;
          width: 100%;
        }
      }
    }
  }
}

.modal-trophy {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 100%;
}
