

$primaryColor: #706194;
$primaryColorLight : rgb(150, 136, 182);
$primaryColorDark : #4e4368;

$secondaryColor: #C40CF3;
$secondaryColorDark: #ab0cd3;
$secondaryColorLight: #db49ff;
$white : #f5f1ff;
