@use 'src/styles/vars';

.app {
  min-width: 200px;
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: vars.$white;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.app img {
  max-width: 150px;
}
