@use 'src/styles/vars';

.app {
  min-width: 200px;
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: vars.$white;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.app img {
  max-width: 150px;
}

.settings {
  position: absolute;
  bottom: 5rem;
  right: 2rem;
  border: none;
  background: none;
  width: 4rem;
  height: 4rem;
  transition: all .2s ease-in-out;
  &:hover {
    transform: rotate(-90deg);
  }
  &-icon {
    font-size: 3rem;
    color: vars.$primaryColor
  }
}
