@use 'src/styles/vars';

.app {
  width: 375px;
  margin: auto;
  text-align: center;
  background-color: vars.$white;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.app img {
  max-width: 150px;
}
