@use 'src/styles/vars';

.wrapper-drop {
    position: absolute;
    top: calc(-100vh + 4rem);
    width: 100%;
    margin: auto;
    z-index: 2000;
}

.drop {
    width: 100%;
    margin: auto;
    height: calc(100vh - 4rem);
    background-color: vars.$primaryColor;
    position: relative;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 2px 6px 1px vars.$primaryColorDark;
    
    &-footer {
        position: absolute;
        bottom: -1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
        &-button {
            
            border: 1px 1px 1px 0 black;
            background-color: vars.$primaryColor;
            color: vars.$white;
            border: none;
            text-align: center;
            box-shadow: 0 2px 6px 1px vars.$primaryColorDark;
            margin: auto;
            height: 1.6rem;
            width: 5rem;
            border-radius: 0 0 8px 8px;
            z-index: 150;
            &-handler {
                width: 3rem;
                height: .3rem;
                background-color: vars.$white;
                border-radius: 5px;
                margin: auto;
            }
        }
    }
    
}